<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
    <div th:replace="~{fragments/layout :: sidebar}"></div>

    <main>

        <div class="col">
            <h2 class="page-title">Add New User </h2>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>




            <form th:action="@{/add-new-user}" method="post" th:object="${userDto}">
                <table class="clearance-table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input  name="userName" id="userNameId"  th:field="*{name}"/>

                        </td>
                    </tr>

                    <tr>
                        <td>Is Manager</td>
                        <td>
                            <input  type="checkbox" name="isManager" value="true"  th:field="*{manager}"/>
                        </td>
                    </tr>




                    <tr>
                        <td>Department</td>
                        <td>
                            <select name="department" th:field="*{department}">

                                <option value="IT">IT</option>
                                <option value="HR">HR</option>
                                <option value="SECURITY">SECURITY</option>
                                <option value="INSURANCE">INSURANCE</option>
                                <option value="VEHICLE">VEHICLE</option>
                                <option value="PURCHASING">PURCHASING</option>
                                <option value="ACCOUNTS">ACCOUNTS</option>
                                <option value="CUSTOMER-SERVICE">CUSTOMER-SERVICE</option>
                                <option value="SALES">SALES</option>
                                <option value="FINANCE">FINANCE</option>
                                <option value="MOBILE">MOBILE</option>
                          </select>
                        </td>
                    </tr>


                    <tr>
                        <td>Email</td>
                        <td>
                            <input  type="email" name="email" th:field="*{email}"/>
                        </td>
                    </tr>


                    <tr>
                        <td>Role</td>
                        <td>
                            <select name="role" th:field="*{role}">
                                <option value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                        </td>
                    </tr>



                    <tr>
                        <td colspan="2">
                            <button type="submit">Submit</button>
                        </td>
                    </tr>



                    </tbody>
                </table>
            </form>

        </div><!--end col-->


    </main>
</div>


<script>

    const sidebarSelected = document.getElementById("Users");
    if (sidebarSelected) {
        sidebarSelected.classList.add("sidebar-active");
    }
</script>

</body>
</html>






