<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
<div th:replace="~{fragments/layout :: sidebar}"></div>

<main>

    <div class="col">
    <h2 class="page-title">Add New Clearance </h2>

   



    <table class="clearance-table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>here select2 list of employees</td>
        </tr>
        <tr>
            <td>Last Working Date</td>
            <td>
                <input type="date" name="lastWorkingDate"/>
            </td>
        </tr>
        </tbody>
    </table>

    </div><!--end col-->


</main>
</div>

</body>
</html>






