<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
<div th:replace="~{fragments/layout :: sidebar}"></div>

<main>

    <div class="col">
    <h2 class="page-title">Add New Clearance </h2>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

   


    <form th:action="@{/add-new-clearance}" method="post" th:object="${clearanceDto}">
    <table class="clearance-table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>
                <input list="employeesList" name="employee" id="employeeId" oninput="updateEmployeeName()"  th:field="*{badgeNumber}"/>
                <h4 id="employeeName"></h4>

                <datalist id="employeesList">
                    <option th:each="employee : ${employees}"
                            th:value="${employee.badgeNumber}"
                            th:attr="data-name=${employee.name}"> <!-- Optional, not readable by browser -->
                        [[${employee.name}]]
                    </option>
                </datalist>
            </td>
            <td>
                أسم الموظف
            </td>
        </tr>

        <script>
            function updateEmployeeName() {
                const input = document.getElementById("employeeId").value;
                const dataList = document.getElementById("employeesList");
                const h4 = document.getElementById("employeeName");

                // Loop through all options
                for (let option of dataList.options) {
                    if (option.value === input) {
                        h4.textContent = option.text;
                        return;
                    }
                }

                // If no match
                h4.textContent = '';
            }
        </script>

        <tr>
            <td>Last Working Date</td>
            <td>
                <input type="date" name="lastWorkingDate" th:field="*{lastWorkingDate}"/>
            </td>
            <td>
                تاريخ آخر يوم عمل
            </td>
        </tr>
        <tr>
            <td>Direct Manager</td>
            <td>
                <input list="managerList" type="text" name="directManager" th:field="*{directManagerEmail}"/>
                <datalist id="managerList">
                    <option th:each="user : ${managers}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                المدير المباشر
            </td>

        </tr>


        <tr>
            <td>HR Department</td>
            <td>
                <input list="hrList" type="text" name="hrDepartment" th:field="*{hrEmail}"/>
                <datalist id="hrList">
                    <option th:each="user : ${hr}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
               الموراد البشرية
            </td>
        </tr>

        <tr>
            <td>Accounts Department</td>
            <td>
                <input list="accountsList" type="text" name="accountsDepartment" th:field="*{accountsEmail}"/>
                <datalist id="accountsList">
                    <option th:each="user : ${accounts}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم المحاسبة
            </td>
        </tr>


        <tr>
            <td>Purchasing Department</td>
            <td>
                <input list="purchasingList" type="text" name="purchasingDepartment" th:field="*{purchasingEmail}"/>
                <datalist id="purchasingList">
                    <option th:each="user : ${purchasing}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم المشتريات
            </td>
        </tr>

        <tr>
            <td>Customer Service</td>
            <td>
                <input list="customerServiceList" type="text" name="customerServiceDepartment" th:field="*{customerEmail}"/>
                <datalist id="customerServiceList">
                    <option th:each="user : ${customerService}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                خدمة العملاء
            </td>
        </tr>


        <tr>
            <td>Mobile SIM</td>
            <td>
                <input list="mobileSIMList" type="text" name="mobileSIMDepartment" th:field="*{mobileEmail}"/>
                <datalist id="mobileSIMList">
                    <option th:each="user : ${mobileSIM}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم الإتصالات
            </td>
        </tr>

        <tr>
            <td>Company Vehicle</td>
            <td>
                <input list="companyVehicleList" type="text" name="companyVehicleDepartment" th:field="*{vehicleEmail}"/>
                <datalist id="companyVehicleList">
                    <option th:each="user : ${companyVehicle}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم المركبات
            </td>
        </tr>

        <tr>
            <td>Security</td>
            <td>
                <input list="securityList" type="text" name="securityDepartment" th:field="*{securityEmail}"/>
                <datalist id="securityList">
                    <option th:each="user : ${security}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم الآمن
            </td>
        </tr>


        <tr>
            <td>IT Department</td>
            <td>
                <input list="ityList" type="text" name="itDepartment" th:field="*{itEmail}"/>
                <datalist id="ityList">
                    <option th:each="user : ${its}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
               تقنية المعلومات
            </td>
        </tr>

        <tr>
            <td>Medical Insurance</td>
            <td>
                <input list="medicalInsuranceList" type="text" name="medicalInsurance" th:field="*{insuranceEmail}"/>
                <datalist id="medicalInsuranceList">
                    <option th:each="user : ${medicalInsurance}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم التأمين
            </td>
        </tr>

        <tr>
            <td>Sales & Marketing</td>
            <td>
                <input list="salesAndMarketingList" type="text" name="salesAndMarketing" th:field="*{salesEmail}"/>
                <datalist id="salesAndMarketingList">
                    <option th:each="user : ${salesAndMarketing}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم المبيعات و التسويق
            </td>
        </tr>

        <tr>
            <td>Finance Department</td>
            <td>
                <input list="financeList" type="text" name="finance" th:field="*{financeEmail}"/>
                <datalist id="financeList">
                    <option th:each="user : ${finance}"
                            th:value="${user.email}"
                            th:text="${user.name}"></option>
                </datalist>
            </td>
            <td>
                قسم المالية
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <button type="submit" class="add-button">Submit</button>
            </td>
        </tr>



        </tbody>
    </table>
    </form>

    </div><!--end col-->


</main>
</div>


<script>

        const sidebarSelected = document.getElementById("Clearance");
        if (sidebarSelected) {
            sidebarSelected.classList.add("sidebar-active");
        }
</script>

</body>
</html>






