<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
<div th:replace="~{fragments/layout :: sidebar}"></div>

<main>

    <div class="col">
    <h2 class="page-title">Add New Clearance </h2>

   


    <form th:action="@{/add-new-clearance}" method="post">
    <table class="clearance-table">
        <tbody>
        <tr>
            <td>Name</td>
            <td>
                <input list="employeesList" name="employee" id="employeeId" />
                    <datalist id="employeesList">
                        <option value="A01">Ali</option>
                        <option value="A02">Mohammed</option>
                        <option value="A03">Yasmin</option>
                    </datalist>
            </td>
        </tr>
        <tr>
            <td>Last Working Date</td>
            <td>
                <input type="date" name="lastWorkingDate"/>
            </td>
        </tr>
        </tbody>
    </table>
    </form>

    </div><!--end col-->


</main>
</div>

</body>
</html>






