<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
<div th:replace="~{fragments/layout :: sidebar}"></div>

<main>

    <div class="col">
    <h2 class="page-title">Clearance Dashboard</h2>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <label>
            Search :
            <input name="keyword" type="text"/>
        </label>
        <a href="/add-new-clearance" class="add-button">Add New</a>
    </div>



    <table class="clearance-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Clearance Code</th>
            <th>Name</th>
            <th>Badge Number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="clearance, index :${clearances}">
            <td th:text="${index.count}"></td>
            <td>
                <a class="badge" th:href="@{/clearance-view(code=${clearance.code})}" th:text="${clearance.code}"></a>
            </td>

            <td th:text="${clearance.name}"></td>
            <td th:text="${clearance.badgeNumber}"></td>

            <td th:text="${clearance.approvalStatusText}"></td>

        </tr>

        </tbody>
    </table>



        <div>
            <span th:text="'Page ' + ${clearances.number + 1} + ' of ' + ${clearances.totalPages}"></span>

            <a th:href="@{/clearance(page=${clearances.number - 1}, size=${clearances.size}, keyword=${keyword})}"
               th:if="${clearances.hasPrevious()}">Previous</a>

            <a th:href="@{/clearance(page=${clearances.number + 1}, size=${clearances.size}, keyword=${keyword})}"
               th:if="${clearances.hasNext()}">Next</a>
        </div>

    </div><!--end col-->


</main>
</div>


<script>

    const sidebarSelected = document.getElementById("Clearance");
    if (sidebarSelected) {
        sidebarSelected.classList.add("sidebar-active");
    }
</script>

</body>
</html>






