<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}">
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>

<div class="container">
    <div th:replace="~{fragments/layout :: sidebar}"></div>

    <main>

        <div class="col">
            <h2 class="page-title">Users</h2>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>

            <!-- Toolbar -->
            <div class="toolbar">

                <form th:action="@{/users}" method="get">
                    <div class="row">
                    <input type="text" name="keyword" th:value="${keyword}" placeholder="Search users..." />
                    <button type="submit">Search</button>
                    </div>
                </form>

                <a href="/add-new-user" class="add-button">Add New</a>
            </div>



            <table class="clearance-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Manager</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user, index: ${users}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${user.name}"></td>
                    <td>
                        <a class="badge" th:href="@{/user(email=${user.email})}" th:text="${user.email}"></a>
                    </td>
                    <td th:text="${user.department}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.manager ? 'Yes' : 'No'}"></td>
                </tr>
                </tbody>
            </table>



            <div>
                <span th:text="'Page ' + ${users.number + 1} + ' of ' + ${users.totalPages}"></span>

                <a th:href="@{/users(page=${users.number - 1}, size=${users.size}, keyword=${keyword})}"
                   th:if="${users.hasPrevious()}">Previous</a>

                <a th:href="@{/users(page=${users.number + 1}, size=${users.size}, keyword=${keyword})}"
                   th:if="${users.hasNext()}">Next</a>
            </div>

        </div><!--end col-->


    </main>
</div>


<script>

    const sidebarSelected = document.getElementById("Users");
    if (sidebarSelected) {
        sidebarSelected.classList.add("sidebar-active");
    }
</script>

</body>
</html>






